@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.shadow-light {
  box-shadow: -1px 3px 6px rgb(31, 27, 27);
}

.close-btn {
  font-size: 1.3rem;
}
