@import "./_variables.scss";
@import "../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}
input {
  border: none;
  background-color: rgba($color: #000000, $alpha: 0.0);
}

input:focus {
  outline: none;
}

button {
  border: none;
  background-color: rgba($color: #000000, $alpha: 0.0);
}

.shadow-light {
  box-shadow: -1px 3px 6px rgb(31, 27, 27);
}

.font-large {
  font-size: 1.3rem;
}

.btn-submit {
  background-color: rgba($color: #7c7c7c, $alpha: 1.0);
  border-radius: .5rem;
  font-size: 1.3rem;
}

.border-bottom {
  border-bottom: rgba($color: #7c7c7c, $alpha: 1.0);
}

.min-vh-50 {
  min-height: 50vh;
}
